<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.hx.wwj.service.api.module.gateway.mapper.GatewayMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TBL_GATEWAY_SESSION
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,
		builname,
		communityname,
		create_time,
		gateway_ip,
		houseid,
		node_ip,
		node_name,
		room_id,
		scg_sn,
		session_id,
		unitname
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{builname},
		#{communityname},
		#{create_time},
		#{gateway_ip},
		#{houseid},
		#{node_ip},
		#{node_name},
		#{room_id},
		#{scg_sn},
		#{session_id},
		#{unitname}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="PageData">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="PageData">
		delete from
		<include refid="tableName"></include>
		where 
			GATEWAY_ID = #{GATEWAY_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="PageData">
		update
		<include refid="tableName"></include>
		set 
		GATEWAY_ID = GATEWAY_ID
		where 
		GATEWAY_ID = #{GATEWAY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="PageData" resultType="PageData">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			GATEWAY_ID = #{GATEWAY_ID}
	</select>
	
	<!-- 列表 -->
	<select id="listPage" parameterType="page" resultType="PageData">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		<!--where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''">&lt;!&ndash; 关键词检索 &ndash;&gt;
			and
				(
				&lt;!&ndash;	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				&ndash;&gt;
				)
		</if>-->
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAllPage" parameterType="PageData" resultType="PageData">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"/>
		where 
			GATEWAY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!--查询在线网关的所有room_id-->
	<select id="getGatewayOnline">
		SELECT
		room_id
		FROM
		<include refid="tableName"/>
	</select>

</mapper>